{% extends 'base/web-base.html' %}

{% load static %}

{% block container %}


{% include 'includes/header.html' %}

<section class="py-10 relative left-[430px]">
        <section class="wrapper">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7">
                <div class="col-span-1 p-4 rounded-lg border">
                    <a href="#" class="flex justify-start">
                        <img src="{{restaurent.image.url}}" alt="img" class="w-[35%] rounded-xl mr-4">
                        <div class="w-[65%]">
                            <h3 class="text-[16px] font-semibold mb-1">{{restaurent.name}}</h3>
                            <p class="text-[12px] mb-4">{{restaurent.tagline}}</p>
                            <div class="flex justify-start items-center">
                                <span class="flex justify-start items-center mr-4">
                                    <img src="{% static 'web/images/star.png' %}" alt="img" class="w-4 mr-2">
                                    {{restaurent.rating}}
                                </span>
                                <span class="flex justify-start items-center mr-4">
                                    <img src="{% static 'web/images/clock.png' %}" alt="img" class="w-4 mr-2">
                                    {{restaurent.time}} min
                                </span>
                            </div>
                            
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </section>


    <section class="py-10 px-[30%]">
        <section class="wrapper">
            {% for category in food_category %}
                {% if category.foods.all %}
                    <div class="border-b-[3px] border-gray-200 mb-12">
                        <h1 class=" font-[600] text-[18px] mb-10">{{category.name}}</h1>
                        {% for food in category.foods.all %}
                        <div class=" border-b pb-5 pt-5">
                            <div class="flex justify-between items-start">
                                <div class=" right-[170px]">
                                    {% if food.is_veg %}
                                    <img src="{% static 'web/images/veg.png' %}" alt="" class="h-3 mb-1">
                                    {% else %}
                                    <img src="{% static 'web/images/non.png' %}" alt="" class="h-3 mb-1">
                                    {% endif %}
                                    <h1 class="mb-2">{{food.name}}</h1>
                                    <span class="font-[600]">₹</span>
                                    <span class="mb-2 ml-1 font-[600]">{{food.price}}</span>
                                    <button class=" pt-0.5 pb-0.5 bg-green-400 w-10 text-white rounded-[5px] font-[600] text-[12px] mt-3 relative top-10 right-14">ADD</button>
                                </div>
                                <div class=" left-40">
                                    <img src="{{food.image.url}}" alt="" class="h-[120px] rounded-[7px]">
                                </div>
                            
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}  
            {% endfor %}
        </section>
    </section>



    <section class="py-3 relative left-[350px]">
        <section class="wrapper">
            <div class="w-[50%] h-12 bg-red-600 mb-10 text-white font-[500] text-[16px] rounded-xl flex justify-between">
                <div class="ml-5 pt-2.5">
                    <span>1</span>
                    <span>Item</span>
                    <span>| ₹</span>
                    <span>180</span>
                </div>
                <div class="flex mr-5 pt-2.5">
                    <span>View Cart</span>
                    <img src="{% static 'web/images/cart.png' %}" alt="" class="h-[18px] ml-2 relative top-0.5">
                </div>
            </div>
        </section>
    </section>





{% endblock %}
